<!-- <h1>Hello from PrimeNG!</h1>
<input type="text" pInputText placeholder="Enter your name" (change)="onChangeEvent($event)" />
<button pButton type="text" (click)="greetMe()" icon="fa-check" label="Greet me"></button>

<p> {{theUserSaid}}

    <p-confirmDialog width="400"></p-confirmDialog>
    <br>
    <br>
    <div>
        <li *ngFor="let item of items | async">
            <pre>{{ item | json }}</pre>
        </li>
    </div>

    <br> -->

<h2>This Phil guy?... Is he really that cool?</h2>